# ========================
# ENV / SECRETS (IMPORTANT)
# ========================
.env
.env.*

# ========================
# BUILD FILES
# ========================
target/
build/

# ========================
# NODE / FRONTEND
# ========================
node_modules/

# ========================
# IDE FILES
# ========================
.idea/
.vscode/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db